out
tester
.idea/workspace.xml
.directory
*.apk
proguard_logs
Manifest.java
BuildConfig.java
R.java
**/bin/
tmp/
.gitignore

#ant
lib/DraggableListView/module_draggablelistview.xml
lib/SimpleQRCodeLib/module_simpleqrcodelib.xml
lib/bitmapfun/module_bitmapfun.xml
lib/google-play-services_lib/module_google-play-services_lib.xml
lib/message-input/module_message-input.xml
lib/messagebox/module_messagebox.xml
lib/paint_android/module_paint_android.xml
lib/pulltorefresh/module_pulltorefresh.xml
lib/wowtalksdk/.ant-targets-build.xml
lib/wowtalksdk/module_wowtalksdk.xml
oneapp.properties
oneapp.xml
project/module_oneapp.xml

