<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>anime</key>
	<dict/>
	<key>image</key>
	<dict>
		<key>0</key>
		<dict>
			<key>packid</key>
			<string>1</string>
			<key>packname</key>
			<string>default</string>
		</dict>
	</dict>
</dict>
</plist>
