<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.onemeter.oneapp"
    android:versionCode="108"
    android:versionName="3.7.0.0826(dev01)/108" > <!-- 版本号规则：双周发布 x.x.5，单周测试 x.x.0 -->
    <!--
 在 Android 2.3 上，PullToRefreshListView 产生 stack overflow 错误。
    为了能在通知中显示彩色的logo，targetSdkVersion<=20
    -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <!-- android:targetSdkVersion="17" -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!-- 显示整个应用范围内Dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- required by google maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- required by google maps -->
    <permission
        android:name="org.wowtalk.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!-- required by google maps -->
    <uses-permission android:name="org.wowtalk.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- required by google maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFNTi3hn1MOfB8ZMEYQFz48BL_Xsdqy7Y" />

        <!--
         required by amaps
         api key:
         "4ad433266047f830a8815639b89d3852" (debug) />
         "23453ff346be0404d47331f0d841ae98" (release) />
         "91acec81e0aabe2421dc1bc7e45253f0" (debug@panzy)
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="23453ff346be0404d47331f0d841ae98" />

        <!-- WowTalkService 在 x86 上不能运行。 -->
        <service
            android:name="org.wowtalk.WowTalkService"
            android:label="WowTalk Notification Center" />
        <service
            android:name=".AppUpgradeService"
            android:label="Upgrade" />
        <service
            android:name=".ui.PublishMomentService"
            android:label="Publish Moment" />
        <service android:name=".ui.AppStatusService" />

        <receiver android:name=".ui.PhoneStateChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.NetworkStateChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.RECEIVE_BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.IncomeCallIntentReceiver" >
            <intent-filter>
                <action android:name="org.wowtalkbiz.intent.incomecall" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.IncomeMessageIntentReceiver" >
            <intent-filter>
                <action android:name="org.wowtalkbiz.intent.incomemessage" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.IncomeMissedCallIntentReceiver" >
            <intent-filter>
                <action android:name="org.wowtalkbiz.intent.missedcall" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.NetworkExceptionReceiver" >
            <intent-filter>
                <action android:name="org.wowtalk.api.network_exception" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.AuthFailureReceiver" >
            <intent-filter>
                <action android:name="org.wowtalk.api.auth_failure" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.LocaleChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="co.onemeter.oneapp.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".YuanquActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.StartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.FavoriteGroupsSortActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.LocalContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ContactInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ContactGroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ModifyTempGroupChatNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MessageComposerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.SmsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ContactSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ContactAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ContactImportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.CreateEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar.Blue_main"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.EventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.EventApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- android:noHistory="true" -->
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MobileRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.CallMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.IncallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.VideoCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.GroupChatInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SingleContactChatDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MessageHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ManageAccountsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.AccountSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SexSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.PrivacySettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.InputTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.InputSimpleTextActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AlbumCoverChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ProviderAlbumCoverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.CreateMomentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.AboutPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MultiSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.UnBindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SettingUsernameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SettingPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.PickTempGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.HybirdMessageEditor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name="org.wowtalk.ui.msg.HybirdImageVoiceTextPreview"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name="com.pzy.paint.DoodleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name="com.pzy.paint.BitmapPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.NearbyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ImageViewActivity"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.SelectPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.PublicAccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.PublicAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.InputPlainTextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ApplyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.GroupMemberManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.GroupJoinRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ChooseAreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.NewFriendsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ContactDiscussionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.PublicSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.MomentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.NewReviewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.AllMyReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExternalSearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.wowtalk.ui.msg.PickLocActivityWithAMap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.EmergencyContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ScanQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name="com.zxing.activity.BarcodeScannerTestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MyQRCodeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.CreateNormalMomentWithTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ShareRangeSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SysNoticeSetting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SysNoticeForOthersSetting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.TimelineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.AddClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.HomeworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.MyClassesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.LoginInvitedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 密码找回 -->
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <!-- 邮箱密码找回 -->
        <activity
            android:name=".ui.FindPasswordEmialActivity"
            android:screenOrientation="portrait" />

        <!-- 手机号码密码找回 -->
        <activity
            android:name=".ui.FindPasswordCellPhoneActivity"
            android:screenOrientation="portrait" />

        <!-- 绑定邮箱 -->
        <activity
            android:name=".ui.BindEmailAddressActivity"
            android:screenOrientation="portrait" />
        <!-- 修改绑定邮箱 -->
        <activity
            android:name=".ui.FixBindEmailAddressActivity"
            android:screenOrientation="portrait" />

        <!-- 绑定手机号码 -->
        <activity
            android:name=".ui.BindCellPhoneActivity"
            android:screenOrientation="portrait" />

        <!-- 修改绑定手机号码 -->
        <activity
            android:name=".ui.FixBindCellPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SubmitInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.FriendValidateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ClassroomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ClassMembersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ClassNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".liveplayer.VideoPlayingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ClassDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LessonDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.StudentAbsenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.TeacherSignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SelectClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SelectLessonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SelectTeacherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.RollCallOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LessonStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LessonParentFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LessonHomeworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SignHomeworkResultkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.LessonInfoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar.Blue_main" >
        </activity>
        <activity
            android:name=".ui.ClassInfoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeNoActionBar.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SendNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.AddHomeworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.TeacherCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.FeedbackDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name="com.skd.androidrecording.ui.VideoRecordingActivity"
            android:icon="@drawable/call_videocall_a"
            android:label="@string/capture_video"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skd.androidrecording.ui.VideoPlaybackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="org.wowtalk.ui.crop.CropImageActivity" />
        <activity android:name="org.wowtalk.ui.crop.ImagePreviewActivity" />
        <activity
            android:name=".ui.DiscoveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.ParentChatroomActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.SendToActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" />
        <activity
            android:name=".ui.TeacherInClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.datepicker.DatePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyActivityDialogStyle" >
        </activity>
        <activity
            android:name=".ui.datepicker.TimerPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyActivityDialogStyle" >
        </activity>
        <activity
            android:name=".ui.HomeWorkEvaluate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.HomeWorkTemplate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity
            android:name=".ui.SubmitHomeWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Blue_main" >
        </activity>
        <activity android:name=".UUPlayer.PlayerActivity" >
        </activity>
        <activity
            android:name=".UUPlayer.WebPlayerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.panzy.sockettester.MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".ui.SystemTimeChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SchoolInvitationActivity"
            android:theme="@style/Theme.Blue_main"
            android:launchMode="singleTop"
            android:label="@string/title_activity_school_invitation" >
        </activity>
    </application>

</manifest>
