<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>(‘◇’)?</string>
	<key>1</key>
	<string>ﾍ(･_|</string>
	<key>10</key>
	<string>(☄◣Д◢☄)</string>
	<key>11</key>
	<string>wow~⊙o⊙</string>
	<key>12</key>
	<string>(－－)zzz</string>
	<key>13</key>
	<string>(。-ω-)zzz</string>
	<key>14</key>
	<string>φ(°ρ°*)メ</string>
	<key>15</key>
	<string>φ(◎◎ヘ)</string>
	<key>16</key>
	<string>＿φ( °-°)/</string>
	<key>17</key>
	<string>☆⌒(*＾-°)v</string>
	<key>18</key>
	<string>￢o(￣-￣ﾒ)</string>
	<key>19</key>
	<string>ε-(´・｀)</string>
	<key>2</key>
	<string>|°з°|</string>
	<key>20</key>
	<string>∑(￣□￣)</string>
	<key>21</key>
	<string>ー(￣～￣)ξ</string>
	<key>22</key>
	<string>(⌒.−)＝★</string>
	<key>23</key>
	<string>ℰ⋆‿⋆ℰ</string>
	<key>24</key>
	<string>థ౪థ</string>
	<key>25</key>
	<string>✪ω✪</string>
	<key>26</key>
	<string>(◉ืൠ◉ื)</string>
	<key>27</key>
	<string>ℰ⋆‿⋆ℰ</string>
	<key>28</key>
	<string>இwஇ</string>
	<key>29</key>
	<string>覀L覀</string>
	<key>3</key>
	<string>｢(ﾟﾍﾟ)</string>
	<key>30</key>
	<string>♪(┌・。・)┌</string>
	<key>31</key>
	<string>(｡･ω･｡)ﾉ♡</string>
	<key>32</key>
	<string>ヽ(゜Q。)ノ？</string>
	<key>33</key>
	<string>☆～（ゝ。∂）</string>
	<key>34</key>
	<string>（＾Ｏ＾☆♪</string>
	<key>35</key>
	<string>ヾ(｡´･_●･`｡)☆</string>
	<key>36</key>
	<string>┌（★ｏ☆）┘</string>
	<key>37</key>
	<string>└（★ｏ★）┐</string>
	<key>38</key>
	<string>┗┃・ ■ ・┃┛</string>
	<key>39</key>
	<string>ﾐ(´┏ω┓｀)/</string>
	<key>4</key>
	<string>(˘❥˘)</string>
	<key>40</key>
	<string>(￣┏Д┓￣°*)</string>
	<key>41</key>
	<string>(ノ≧┏Д┓≦)ノ</string>
	<key>42</key>
	<string>ヘ（°□°）ヘ</string>
	<key>43</key>
	<string>ლ(||⌒εー||)ლ</string>
	<key>44</key>
	<string>┗┐ヽ(′Д、`*)ﾉ┌┛</string>
	<key>45</key>
	<string>(∪｡∪)｡｡｡zzz</string>
	<key>46</key>
	<string>（*＾＾）/~~~~~~◎ </string>
	<key>47</key>
	<string>(*・)σσσ(*゜Д゜*) </string>
	<key>48</key>
	<string>(^^)-(^^)-(^^)</string>
	<key>49</key>
	<string>( ^o)ρ┳┻┳°σ(o^ )</string>
	<key>5</key>
	<string>（＄０＄）</string>
	<key>50</key>
	<string>٩(●̮̮̃●̃)۶٩(•̮̮̃•̃)۶٩(-̮̮̃-̃)۶</string>
	<key>51</key>
	<string>(*･∀･)／＼(･∀･*)</string>
	<key>52</key>
	<string>(●ゝω)ノヽ(∀＜●) </string>
	<key>53</key>
	<string>ヽ(*^ｰ^)人(^ｰ^*)ノ</string>
	<key>54</key>
	<string>☆-(ノﾟДﾟ)八(ﾟДﾟ )ノ</string>
	<key>55</key>
	<string>*:(´・ω・人・ω・`):*</string>
	<key>56</key>
	<string>♪ヽ( ⌒o⌒)人(⌒-⌒ )v♪</string>
	<key>6</key>
	<string>(´┏o┓｀)</string>
	<key>7</key>
	<string>ヾ(´ρ｀)〃</string>
	<key>8</key>
	<string>(๑◕ܫ￩๑)b</string>
	<key>9</key>
	<string>((٩(//̀Д/́/)۶))</string>
</dict>
</plist>
