<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>=_=</string>
	<key>1</key>
	<string>T^T</string>
	<key>10</key>
	<string>(:Ａ:)</string>
	<key>11</key>
	<string>(⊙…⊙)</string>
	<key>12</key>
	<string>(☉Д⊙)ノ</string>
	<key>13</key>
	<string>(┳Д┳)</string>
	<key>14</key>
	<string>(xLx)ヾ</string>
	<key>15</key>
	<string>m(_ _)m</string>
	<key>16</key>
	<string>o(╥﹏╥)o</string>
	<key>17</key>
	<string>v(｡-_-｡)v</string>
	<key>18</key>
	<string>（ゝ。∂）</string>
	<key>19</key>
	<string>／(x~x)＼</string>
	<key>2</key>
	<string>(‘A`)</string>
	<key>20</key>
	<string>(´；ω；`)</string>
	<key>21</key>
	<string>(Ｔ▽Ｔ)</string>
	<key>22</key>
	<string>（ＴДＴ）</string>
	<key>23</key>
	<string>(´Ａ｀。)</string>
	<key>24</key>
	<string>(。_＋)＼</string>
	<key>25</key>
	<string>(´∩｀。)</string>
	<key>26</key>
	<string>(ノД`).°.</string>
	<key>27</key>
	<string>（ｉДｉ）</string>
	<key>28</key>
	<string>o(︶︿︶)o</string>
	<key>29</key>
	<string>(´＿｀。) </string>
	<key>3</key>
	<string>ˇ︿ˇ</string>
	<key>30</key>
	<string>(ノ＞＜)ノ</string>
	<key>31</key>
	<string>ヘ(＞＜*)ノ</string>
	<key>32</key>
	<string>ヘ(#)ノ</string>
	<key>33</key>
	<string>ヽ(*´Д｀*)ﾉ</string>
	<key>34</key>
	<string>(*´；ェ；`*)</string>
	<key>35</key>
	<string>{{p´Д｀q}}</string>
	<key>36</key>
	<string>p(´⌒｀ºq)</string>
	<key>37</key>
	<string>ヽ(´□｀。)/</string>
	<key>38</key>
	<string>。°(•Д•)°。</string>
	<key>39</key>
	<string>ヘ（。□°）ヘ</string>
	<key>4</key>
	<string>(-_＼)</string>
	<key>40</key>
	<string>p(´⌒｀｡q) </string>
	<key>41</key>
	<string>(。┰ω┰。)</string>
	<key>42</key>
	<string>・゜・(ノД`)</string>
	<key>43</key>
	<string>｡･ﾟﾟ･(﹥д﹤;)･ﾟﾟ･｡</string>
	<key>44</key>
	<string>゜゜・（／。＼）・゜</string>
	<key>5</key>
	<string>(ToT)</string>
	<key>6</key>
	<string>(:へ;)</string>
	<key>7</key>
	<string>•(/Д`)•</string>
	<key>8</key>
	<string>(个_个)</string>
	<key>9</key>
	<string>((T.T;)</string>
</dict>
</plist>
