<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>⊱(•x•)</string>
	<key>1</key>
	<string>（-Φ-）</string>
	<key>10</key>
	<string>(ó㉨ò)</string>
	<key>11</key>
	<string>Uo･ｪ･oU</string>
	<key>12</key>
	<string>U｡･ｪ･｡U</string>
	<key>13</key>
	<string>U・♀・U</string>
	<key>14</key>
	<string>Ｕ^皿^Ｕ</string>
	<key>15</key>
	<string>Uo•ω•oU</string>
	<key>16</key>
	<string>(／(ｴ)＼)</string>
	<key>17</key>
	<string>(=^•^=)</string>
	<key>18</key>
	<string>(^._.^)ﾉ</string>
	<key>19</key>
	<string>=’①。①’=</string>
	<key>2</key>
	<string>༼´◓ɷ◓`༽ </string>
	<key>20</key>
	<string>(=^-ω-^=)</string>
	<key>21</key>
	<string>ヽ(^‥^=ゞ)</string>
	<key>22</key>
	<string>(=°ω°)ノ</string>
	<key>23</key>
	<string>Σ(•ω•`||)</string>
	<key>24</key>
	<string>o(^•x•^)o</string>
	<key>25</key>
	<string>ミ••ミ</string>
	<key>26</key>
	<string>Ｃ：▫ミ</string>
	<key>27</key>
	<string>ミ[°°]ミ</string>
	<key>28</key>
	<string>ζ°)))彡</string>
	<key>29</key>
	<string>≧(°°)≦</string>
	<key>3</key>
	<string>(•(エ)•)</string>
	<key>30</key>
	<string>ミ(°°)ミ</string>
	<key>31</key>
	<string>V=(°°)=V</string>
	<key>32</key>
	<string>＜コ∶ミ</string>
	<key>33</key>
	<string>&gt;°))))彡</string>
	<key>34</key>
	<string>＜+))&gt;＜＜</string>
	<key>35</key>
	<string>＜_)))彡</string>
	<key>36</key>
	<string>(°)#))＜＜</string>
	<key>37</key>
	<string>&gt;^)))＜～～</string>
	<key>38</key>
	<string>～&gt;°)～～～</string>
	<key>39</key>
	<string>▼o・ェ・o▼</string>
	<key>4</key>
	<string>(^(I)^)</string>
	<key>40</key>
	<string>ヽ(o・ェ・o)ノ♡</string>
	<key>41</key>
	<string>(⊙(∵エ∵)⊙＝)</string>
	<key>42</key>
	<string>(○｀（●●）´○)ﾉ</string>
	<key>43</key>
	<string>｡ﾟ(ﾟ´(00)`ﾟ)ﾟ｡</string>
	<key>44</key>
	<string>＜(*ΦωΦ*)＞</string>
	<key>45</key>
	<string>q(￣(oo)￣)p</string>
	<key>46</key>
	<string>⊂(◎(工)◎)⊃</string>
	<key>47</key>
	<string>└(=^‥^=)┐</string>
	<key>48</key>
	<string>└@(･ｪ･)@┐</string>
	<key>49</key>
	<string>＞°)m～～～～∈</string>
	<key>5</key>
	<string>@(o･ｪ･)@</string>
	<key>50</key>
	<string>＜*))&gt;&gt;=&gt;＜</string>
	<key>51</key>
	<string>(°))＜＜＜*))＜</string>
	<key>52</key>
	<string>＞((*＞＞＞((°)</string>
	<key>53</key>
	<string>＞((～～～((°＜</string>
	<key>6</key>
	<string>@(*^ｪ^)@</string>
	<key>7</key>
	<string>◎▼◎</string>
	<key>8</key>
	<string>@(･o･*)@</string>
	<key>9</key>
	<string>(´(00)`)</string>
</dict>
</plist>
