<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>(^_^)</string>
	<key>1</key>
	<string>d(-_^)</string>
	<key>10</key>
	<string>Ψ(´▽｀)Ψ</string>
	<key>11</key>
	<string>(´ω｀★)</string>
	<key>12</key>
	<string>(´ε｀)♡</string>
	<key>13</key>
	<string>(´▽`)ノ</string>
	<key>14</key>
	<string>φ(^▽^)/</string>
	<key>15</key>
	<string>(-^〇^-)</string>
	<key>16</key>
	<string>(#^.^#)</string>
	<key>17</key>
	<string>♡＾▽＾♡</string>
	<key>18</key>
	<string>(ღ^⌣^ღ)</string>
	<key>19</key>
	<string>(☆^O^☆)</string>
	<key>2</key>
	<string>(^Д^)</string>
	<key>20</key>
	<string>~旦_(^O^)</string>
	<key>21</key>
	<string>ヘ(^_^ヘ)</string>
	<key>22</key>
	<string>((•▽•))</string>
	<key>23</key>
	<string>(*•ｖ•)</string>
	<key>24</key>
	<string>（•◇•）</string>
	<key>25</key>
	<string>(/•ิ_•ิ)/</string>
	<key>26</key>
	<string>(｡’▽’｡)♡</string>
	<key>27</key>
	<string>m（’-’*)m</string>
	<key>28</key>
	<string>(づ¯3¯)づ</string>
	<key>29</key>
	<string>(ヘ。ヘ)</string>
	<key>3</key>
	<string>(^_-)</string>
	<key>30</key>
	<string>(･‿･)</string>
	<key>31</key>
	<string>o(◡‿◡✿)</string>
	<key>32</key>
	<string>(◕‿◕✿) </string>
	<key>33</key>
	<string>(‵•ω•´)"</string>
	<key>34</key>
	<string>（＞ｙ＜）</string>
	<key>35</key>
	<string>(☆^ー^☆)</string>
	<key>36</key>
	<string>ヽ(*≧ω≦)/</string>
	<key>37</key>
	<string>（＾⊆＾）</string>
	<key>38</key>
	<string>(⌒▽⌒)☆</string>
	<key>39</key>
	<string>ヽ(^。^)丿</string>
	<key>4</key>
	<string>(•ิ_•ิ)</string>
	<key>40</key>
	<string>ヽ(＾Д＾)ﾉ</string>
	<key>41</key>
	<string>（⌒▽⌒ゞ</string>
	<key>42</key>
	<string>＼(☆o◎)／</string>
	<key>43</key>
	<string>(´▽｀*)ノ </string>
	<key>44</key>
	<string>┗(＾0＾)┓</string>
	<key>45</key>
	<string>＼(＠▽＠)／</string>
	<key>46</key>
	<string>＼(*T▽T*)／</string>
	<key>47</key>
	<string>o((*^▽^*))o</string>
	<key>48</key>
	<string>ヽ(*⌒∇⌒*)ノ</string>
	<key>49</key>
	<string>((o(*º▽º*)o))</string>
	<key>5</key>
	<string>∩(•ω•)∩</string>
	<key>50</key>
	<string>♡o｡.(✿ฺ｡ ✿ฺ)</string>
	<key>51</key>
	<string>(´▽｀).。ｏ♡</string>
	<key>52</key>
	<string>☆*o(≧▽≦)o*☆</string>
	<key>53</key>
	<string>ヾ(＠†▽†＠）ノ</string>
	<key>6</key>
	<string>(^～^)</string>
	<key>7</key>
	<string>(^-^*)</string>
	<key>8</key>
	<string>(●♡∀♡)</string>
	<key>9</key>
	<string>(●´∀｀●)</string>
</dict>
</plist>
